Repository Privatix/dappctrl, changes with the owners that .github/CODEOWNERS names for each.
All owners: @furkhat, @drew2a, @SHarrySeldon, @gonzazoid

.github/CODEOWNERS:

# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify go-team about changes in go files
*.go            @furkhat

# notify drew2a about changes in scripts and settings
/.github/       @drew2a
/scripts/       @drew2a
*.md            @drew2a

# notify devops team about changes in docs
/doc/           @SHarrySeldon

# notify devops team about changes in *.config.json
*.config.json   @SHarrySeldon @drew2a

# notify js team about jobs changes
/data/jobs.go   @gonzazoid

fix double release issue
  scripts/build.sh
Owners: @drew2a

recover sub logger fatals in multi logger
  util/log/logger.go
  util/log/multi_logger.go
Owners: @furkhat

agent validate client deposit on after channel create
  proc/worker/account.go
  proc/worker/account_test.go
  proc/worker/agent.go
  proc/worker/agent_test.go
  proc/worker/event.go
  ui/account_test.go
Owners: @furkhat

agent uses same service status transitions as client
  data/jobs.go
  data/test.go
  proc/handlers/job.go
  proc/worker/agent.go
  proc/worker/agent_test.go
  proc/worker/client.go
  proc/worker/client_test.go
  proc/worker/common.go
  proc/worker/common_test.go
  sess/handler_test.go
  sess/session.go
  sess/subscribe.go
  sess/subscribe_test.go
Owners: @gonzazoid, @furkhat

complete transitions for agent too & add separate stop endpoint
  agent/bill/monitor.go
  data/recover.go
  data/recover_test.go
  proc/worker/client.go
  proc/worker/errors.go
  sess/client.go
  sess/handler_test.go
  sess/session.go
  sess/session_test.go
  sess/subscribe_test.go
Owners: @furkhat

tiny naming fix
  doc/ui/rpc.md
  ui/channel.go
  ui/channel_test.go
Owners: @SHarrySeldon, @furkhat

time with time zone
  ui/channel.go
  ui/channel_test.go
  util/misc.go
Owners: @furkhat

add settings
  data/prod_data.sql
  data/settings.go
Owners: @furkhat

accept offerings calculates deposit
  client/bill/monitor.go
  data/misc.go
  doc/ui/rpc.md
  proc/worker/agent.go
  proc/worker/agent_test.go
  proc/worker/client.go
  proc/worker/client_test.go
  ui/errors.go
  ui/offering.go
  ui/offering_test.go
Owners: @furkhat, @SHarrySeldon

auto increase if enabled
  client/bill/monitor.go
  client/bill/monitor_test.go
  dappctrl-test.config.json
  data/misc.go
  data/prod_data.sql
  data/settings.go
  doc/ui/rpc.md
  main.go
  proc/worker/agent.go
  proc/worker/agent_test.go
  proc/worker/client.go
  proc/worker/client_test.go
  sess/subscribe_test.go
  ui/errors.go
  ui/offering.go
  ui/offering_test.go
Owners: @furkhat, @SHarrySeldon, @drew2a

ignore duplicated job errors
  client/bill/monitor.go
Owners: @furkhat

change version to
  data/prod_data.sql
Owners: none

change version to 0.23.0
  data/prod_data.sql
Owners: none

builder version overides tag
  scripts/build.sh
Owners: @drew2a

fault tolerant prod data
  data/command.go
  data/prod_data.sql
  scripts/create_database.sh
Owners: @furkhat, @drew2a

update prod data value if already exist
  data/prod_data.sql
Owners: none

goose version is enough
  data/migration/00002_remove_version_db_setting.go
  data/migration/scripts/00002_remove_version_db_setting.sql
  data/prod_data.sql
  scripts/update_versions/readme.md
  scripts/update_versions/update_versions.py
Owners: @furkhat, @drew2a

update readonly and private settings
  data/prod_data.sql
Owners: none

add missing settings
  data/prod_data.sql
Owners: none

update dev contract
  dappctrl-dev.config.json
Owners: @SHarrySeldon, @drew2a

fix getAccounts
  doc/ui/rpc.md
Owners: @SHarrySeldon

calculate account rating on client based on closed channels
  data/jobs.go
  data/migration/00003_rating_tables.go
  data/migration/scripts/00003_rating_tables_down.sql
  data/migration/scripts/00003_rating_tables_up.sql
  data/misc.go
  data/prod_data.sql
  data/schema.go
  data/schema_reform.go
  data/settings.go
  doc/ui/rpc.md
  monitor/monitor.go
  monitor/produce.go
  monitor/producer.go
  monitor/producer_test.go
  proc/handlers/job.go
  proc/worker/client.go
  proc/worker/client_test.go
  proc/worker/worker_test.go
  ui/offering.go
Owners: @gonzazoid, @furkhat, @SHarrySeldon

add prod contract
  dappctrl.config.json
Owners: @SHarrySeldon, @drew2a

fix updateBalance
  doc/ui/rpc.md
Owners: @SHarrySeldon

popup disabled by default & popup period = ~freshblocks period
  dappctrl-dev.config.json
  dappctrl.config.json
  data/prod_data.sql
Owners: @SHarrySeldon, @drew2a

rating tool
  proc/worker/client.go
  tool/rating/config.json
  tool/rating/deals/deals.go
  tool/rating/in.json
  tool/rating/main.go
Owners: @furkhat

optimise transfer flow
  data/jobs.go
  eth/backend.go
  eth/test.go
  go.mod
  go.sum
  monitor/producer.go
  monitor/producer_test.go
  proc/handlers/job.go
  proc/worker/account.go
  proc/worker/account_test.go
  proc/worker/errors.go
Owners: @gonzazoid, @furkhat

Capitalize settings
  data/prod_data.sql
Owners: none

changed initial rating values expression & return max rating to ui
  dappctrl-dev.config.json
  proc/worker/client.go
  ui/offering.go
  ui/offering_test.go
Owners: @SHarrySeldon, @drew2a, @furkhat
